@charset "utf-8";
// --------------
// Scss변수
// --------------
// 폰트
$nnGothic: "Nanum Gothic", Dotum, Sans-serif;
$nnSquare: "Nanum Square", "NanumSquare", Dotum, Sans-serif;
$nnrSquare: "NanumSquareRound", Dotum, Sans-serif;
// 색상
$fg-color: #0041e7;
$fg-color2: #e82600;
$bg-color: #0061b4;
