<div class="footer">
	<div class="ftArea group">
		<div class="left-area">
			<div class="row">
				<img src="http://design.autopay.co.kr/joon/koresco-chiak/common/logo_f.png" alt="코레스코치악" class="logo-f">
				<a href="javascript: void(0);" onclick="javascript: $('#privacy-bg, .term-wrap').show();" class="privacyBtn">이용약관</a>
				<a href="javascript: void(0);" onclick="javascript: $('#privacy-bg, .privacy-wrap').show();" class="privacyBtn">개인정보처리방침</a>
			</div>
			<div class="address">
				<span class="s-1 fz-20">프론트</span> ☎ 031-229-3601  체크인, 아웃 / 시설이용 문의 (주중/주말 06:00 ~ 02:00)
				<br>
				<span>강원도 횡성군 우천면 오원리 539-1  코레스코치악콘도</span>
				<br>
				<small>COPYRIGHT © KORESCO CHIAK CONDO ALL RIGHTS RESERVED.</small>
			</div>
		</div>
		<div class="right-area">
			<div class="row">
				<span class="s-1 fz-20">예약문의</span> ☎ <span class="">1666-1243</span>
				<br>예약확정, 변경, 취소 / 이벤트 관련 문의
				<br>(주중 09:30 ~ 25:00 / 주말 09:30 ~ 24:00)
			</div>
			<div class="row">
				<span class="s-1 fz-20">단체문의</span> ☎ <span class="">010-4731-1079</span>
				<br>워크샵, 학생, 산업단체 / 단체이용 관련 문의
				<br>(주중/주말 06:00 ~ 02:00)
			</div>
		</div>
	</div>
	<!--//.centerThis-->
</div>