<header class="header">
	<div class="gnbArea group">
		<h1 class="logo"><a href="../index.html"><img src="http://design.autopay.co.kr/joon/koresco-chiak/common/logo.png" alt="코레스코치악 로고"> <span class="skip">삼포해수욕장 삼포비치</span></a></h1>
		<nav class="gnb">
			<ul class="menu cf">
				<li class="item item-1 fst"><a href="../about/">콘도 소개</a></li>
				<li class="item item-2"><a href="../event/">객실안내</a></li>
				<li class="item item-2"><a href="../view/">부대시설</a></li>
				<li class="item item-3"><a href="../waycome/">단체문의</a></li>
				<li class="item item-4"><a href="../tourist/">예약확인</a></li>
				<li class="item item-5 lst"><a href="../board/memory_list.html">객실예약</a></li>
				<li class="item li-evt"><a href="../board/" class="btn-evt">무료숙박이벤트 안내</a></li>
			</ul>
		</nav>
	</div>
</header>
<!--//.header-->